
img {
    width: 100%;
    position: inherit;
}

#nav.nav-links {

}

#nav.nav-links a { background-color: lightblue; 
  font-size: 100% ; font-family: Courier New, Courier;  font-style: italic; 

}

#tq.nav { font-size: 100% }


div.nav-header { font-size: 120%; font-style: italic }



div.nav-header div.nav-title { font-size: 100%; font-weight: 100% ; border-color: green}

}
#tch h1 { font-size: 200% ; border-left: 30%; font-family: Courier New, Courier, monospace;
  font-style: normal;
  margin-top: 100%;
  margin-bottom: 10%;
  margin-right: 30%;
  margin-left: 100%; 




}
#tch h2 {  font-size: 150% ; border-left: 30%; font-style: italic; 
 margin-top: 5%;
 margin-bottom: 5%;
 margin-right: 10%;
 margin-left: 40%; font-family: Courier New, Courier, monospace;
 font-size: 200%
}

#tch {   


 background: url('https://empoweryourknowledgeandhappytrivia.files.wordpress.com/2015/05/animals-world-map.jpg') no-repeat center center; opacity: 0.5;
 filter: alpha(opacity=50); /* For IE8 and earlier */; 
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
 background-size: cover;     padding: 4em;


}


#tch a { padding: 1em;
  position: relative;
  top: 75%;
  left: 50%;
  font-size: 200%;
  }

#tch a button { padding: 1em; }


#tch img {  }


#grphs.grphs { font-family: Courier New, Courier, monospace; }
#Graphs { img {
  width: 60%;
 } }
#grphs.grphs ul.flex-container { list-style: none;
  margin: 0;
  padding: 1em;
  display: grid;
  justify-content: space-between;
  position: relative;

  border: 5px; solid #ccc;
  /*grid-template-columns: repeat(auto-fill, 25%)*/
  grid-template-columns: 33% 33% 33%;
  grid-gap: 5%;


  padding: 1em 1em;
}
#grphs.grphs ul.flex-container li {  }
#grphs.grphs ul.flex-container li h3 {}



#grphs.grphs ul.flex-container li img { max-width: 100%;
  position: relative }

  #grphs.grphs ul.flex-container li img p { } 

  #gllry.colums { font-family: Courier New, Courier, monospace; 




  }
 .columns-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
 }
 .columns-3 img {
  width: 100%;
 }

 }
 .columns-2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1em;
 }
 .columns-2 img { width: 70%;
 }


  #gllry ul.gallery {  
    list-style: none;
    margin: 0;
    padding: 1em;
    display: grid;
    justify-content: space-between;
    position: relative;

    border: 5px solid #ccc;
    /*grid-template-columns: repeat(auto-fill, 25%)*/
    grid-template-columns: 33% 33% 33%;
    grid-gap: 5%;


    padding: 1em 1em;  }

    #team 
     { 
        list-style: none;
        margin: 0;
        padding: 1em;
        display: grid;
        justify-content: space-between;
        position: relative;
        border: 5px solid #ccc;
        /*grid-template-columns: repeat(auto-fill, 25%)*/
        grid-template-columns: 33% 33% 33%;
        grid-gap: 5%;
        grid-gap: 5%;


        padding: 1em 1em; }

     











